<section class="p-2 max-w-screen-xl md:max-w-screen-md mx-auto">
  <div class="flex flex-col gap-2 text-justify">
    <div>
      <h1 class="font-extrabold text-lg leading-loose">
        Welcome to Toronto Rails
      </h1>
    </div>
    <div>
      <p class="leading-relaxed">
        Toronto Rails is a new community for Ruby on Rails developers in Toronto. Connect, share, and grow with your fellow Toronto Rails Developers.
      </p>
      <p class="leading-relaxed pt-5">
        <%=
          link_to 'Request a Slack Invite',
          "https://docs.google.com/forms/d/1wKo54fWoezqrtk7PAtLlD5EYnRMDEPGCVH6ouMO1mFQ/",
          class: "bg-blue-300 hover:bg-pink-300 text-white py-2 px-2 rounded mt-4"
        %>
      </p>
    </div>
  </div>
</section>
